<h1> About DBC Overflow </h1>

<p><a href="http://www.devbootcamp.com">DevBootcamp (DBC)</a> is an intense, amazing, overwhelming, inspiring experience.
</p>
<p>
  At the core of DBC is an extensive feedback system. Students (called 'boots') give feedback to each other after each pairing session. Boots also give weekly feedback to the staff, as well as after each three-week phase.
</p>
<p>
This app is a place for more public feedback about DBC. As always, feedback needs to be Specfic, Kind, and Actionable.
</p>