<div class="comment">

	<div class="comment_box">
		<p><%= comments.text %> [<%= comments.score %>]</p>
		<div class="vote_arrows">
			<%= render partial: 'votes/vote', :locals => { :voteable => comments } %>
		</div>
		<p>By: <%= comments.user.email %></p>
	</div>
</div>
