<div class="comment">

	<div class="comment_box">
		<%= render partial: 'votes/vote', :locals => { :voteable => comments } %>
   <div class="comment_contents">
    <span class="comment_span"><%= comments.text %></span>
    <div class="comment_author">&mdash;<%= comments.user.email %></div>
  </div>
</div>
</div>
