<h1>DBC Overflow: A Place for Public Feedback</h1>
<% if user_signed_in? %>
  <h2><%= link_to "Give Feedback", new_post_path  %></h2>
<% end %>
<ul class="posts_list">
<% @posts.each do |post| %>
<li class="post_title"><%= post.text %></li>
<li class="post_link">A suggestion by <%= current_user.email %>.</li>
<li class="post_link"> <%= link_to "View Discussion", post_path(post.id) %></li>
<% end %>
</ul>