<h1>List of Posts</h1>
<ul class="posts_list">
<% @posts.each do |post| %>
<li class="post_title"><%= post.text %></li>
<li class="post_link"><%= link_to "View Post", post_path(post.id) %></li>
<% end %>
</ul>