<h1>Post your thoughts!</h1>
<p>We highly encourage you to make your comments</p>
<ul>
  <li>Specific!</li>
  <li>Actionable!</li>
  <li>and Kind!</li>
</ul>
<p>...even though this isn't Feedbackinator, it's still DBC.</p>

<%= render 'shared/post_form' %>