/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

input {
  margin: 10px 0;
}

#topnav {
  background-color: rgb(25, 187, 201);
  margin: none;
  padding: 0 15px;
  height: 50px;
  position: relative;
}

.navbar-link {
  margin: 2px 10px;
  padding: 5px;
  float: right;
  font-size: 1.5em;
}

a.navbar-link {
  text-decoration: none;
  color: white;
}

a:hover.navbar-link {
  color: rgb(31, 10, 75);
}

.brand {
  float: left;
}

#topnav #user {
  color: white;
  float: right;
  margin: 8px 10px;
  padding: 5px;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 900;
}

.posts_list {
  list-style-type: none;
}

.post_link {
  margin: 5px 0 5px 0;
}

.post_title {
  margin-top: 30px;
  font-size: 1.5em;
}
