#topnav {
  background-color: rgb(25, 187, 201);
  margin: none;
  padding: 0 15px;
  height: 45px;
  position: relative;
}

.navbar-link {
  margin: 2px 10px;
  padding: 5px;
  float: right;
  font-size: 1.5em;
}

a.navbar-link {
  text-decoration: none;
  color: white;
}

a:hover.navbar-link {
  color: rgb(31, 10, 75);
}

.brand {
  float: left;
}

#topnav #user {
  color: white;
  float: right;
  margin: 8px 10px;
  padding: 5px;
}