.post_header {
  margin-top: 30px;
  font-size: 1.5em;
}

#post {
  margin-top: 40px;
}

#post_vote_buttons {
  font-size: 1.25em;
}

.author {
  margin: 10px 0;
  color: gray;
  font-size: .8em;
}

.author a {
  color: gray;
  text-decoration: none;
}

.author a:hover {
  color: black;
  text-decoration: underline;
}