.post_body{
	list-style-type: none;
	width: 80%;
}

.comment_div{
	border-left: 30px;
}

.advice {
	font-size: 12px;
	color: #808080;
	margin-left: 40px
}


.post_page {
	width: 900px;
	margin: 0 auto;
}

#comment_box {
	margin-top: 20px;
}


.comment {
	margin: 10px 30px;
}

#post p {
	margin-left: 85px
}

.add_advice {
	padding: 10px;
	float: right;
}