/*.nav {
  background-color: #388E8E;
  height: 50px;
  box-shadow: 0 5px 5px #363636;
}
*/

.post_body{
	list-style-type: none;
	width: 80%;
}

/*.post_index {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}*/

.comment_div{
	border-left: 30px;
}